html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
// #searchBtn {
//   background: $blue;
// }
.hike {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 5%;

  &__tmpl{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    &-detailes{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px;
    }
    &-subdetailes{
      display:  flex;
      gap: 10px;
    }
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 200px;
  }
  &__search {
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 5%;
    &-btn {
      display: inline-block;
      background: $blue;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 15px;
      font-family: inherit;

      &:hover {
        font-weight: 800;
      }
    }
    & input {
      padding: 10px;
      color: $dark;
    }
  }
 
  &__controls {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;

    &-btn {
      display: inline-block;
      background: $dark;
      color: #fff;
      border: none;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-size: 15px;
      font-family: inherit;
      &:hover {
        font-weight: 800;
      }
      &:active {
        transform: scale(0.98);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.add {
  background: $green;
  color: #fff;
}
.modify {
  background: $grey;
  color: #fff;
}
.delete {
  background:$red;
  color: #fff;
}
