


.btn {
    display: inline-block;
    background: rgb(5, 184, 65);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  .btn:hover{
    font-weight: 800;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

.hike__search-btn{
  background: rgb(5, 83, 184);
}

.modify{
  background: rgb(76, 78, 80);
}

.delete{
  background: rgb(223, 23, 56);
}

.footer{
  width: 100%;
  height: 250px;
  background-color: rgb(76, 78, 80);
  display:flex;
  justify-content: center;
  align-items: center;
}
.footer__container{
  width: 450px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
}


.footer__social-items{
  text-decoration: none;
  list-style: none;
  justify-content:space-between
 
}
ul{
  display: flex;
  text-decoration: none;
  align-items:center;
  list-style: none;
  justify-items: center;
  justify-content: center;

 
}

.hike__container{
margin: 20%;
}

.header__list-links{
  color: red;
  display: flex;
  text-decoration:none;
  align-items:center;
  list-style: none;
  justify-items: center;
  justify-content:space-between;
}

.header__mobile-humberger{

  color: red;
  font-size: 4rem;

}

.header__mobile-cross{
  color: rgb(36, 88, 86);
  font-size: 4rem;
}