// Colors
$primary: #2e3a44;
$blue: rgb(6, 110, 247);
$light-grey: #edeff4;
$grey: rgb(76, 78, 80);
$white: #fff;
$dark: #161111;
$green: #03bb1b;
$red: #ff0000;

// Breackpoint
$mobile: 320px;
$tablet: 768px;
$desktop: 1240px;
