* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Popins,sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  position: relative;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  color: #ff0000;
  background-image: url(../assets/randonneurs2.jpg);
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 70%;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease, opacity 0.6s ease;
}

.header__box {
  margin: 0 auto 1.5em auto;
  padding: 0 1em;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 250px;
  height: auto;
  border-radius: 50%;
}

.header_img {
  max-width: 450px;
  height: 200px;
}

.header__nav {
  width: 600px;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header__list-links {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list-links i {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.header__list-links:hover i {
  opacity: 1;
}

.header__mobile-hamburger {
  display: none;
  font-size: 20em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__mobile-hamburger {
    display: block;
  }
}

.header__mobile-nav {
  user-select: none;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: -100vw;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.header__mobile-nav.open {
  display: flex;
  align-items: center;
}

.header__mobile-cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: #212121;
  font-size: 3em;
  transition: color 0.2s ease;
}

.header__mobile-cross:hover {
  color: #ff0000;
}

.header__mobile-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  margin: 0 auto 1em auto;
}

.header__mobile-links {
  text-transform: uppercase;
  font-weight: 600;
  color: #212121;
  transition: color 0.2s ease;
}

.header__mobile-links img {
  filter: invert(100%);
}

.header__mobile-links:hover {
  color: #ff0000;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.hike {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.hike__tmpl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 10px;
}

.hike__tmpl-detailes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.hike__tmpl-subdetailes {
  display: flex;
  gap: 10px;
}

.hike__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 200px;
}

.hike__search {
  font-size: 15px;
  font-family: inherit;
  margin-bottom: 5%;
}

.hike__search-btn {
  display: inline-block;
  background: #066ef7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.hike__search-btn:hover {
  font-weight: 800;
}

.hike__search input {
  padding: 10px;
  color: #212121;
}

.hike__controls {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 35px;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.hike__controls-btn {
  display: inline-block;
  background: #212121;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.hike__controls-btn:hover {
  font-weight: 800;
}

.hike__controls-btn:active {
  transform: scale(0.98);
}

.hike__controls-btn:focus {
  outline: none;
}

.add {
  background: #03bb1b;
  color: #fff;
}

.modify {
  background: #4c4e50;
  color: #fff;
}

.delete {
  background: #ff0000;
  color: #fff;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #4c4e50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

.footer__container {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-link {
  color: #fff;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #ff0000;
}

.footer__social {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__social {
    max-width: 70%;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4c4e50;
  color: #fff;
  transition: color 0.2s ease;
}

.footer__social-link:hover {
  color: #066ef7;
}

.footer__social-link i {
  opacity: 1;
  transition: opacity 0.2s ease;
  font-size: 1.5em;
}
/*# sourceMappingURL=style.css.map */